<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.viking.MySpringBoot.mapper.FruitsMapper">
    <select id="getList" resultType="com.viking.MySpringBoot.entity.Weather">
        select * from weather
    </select>
    <select id="getListFormLinux" resultType="com.viking.MySpringBoot.entity.Weather">
        select * from weather
    </select>
    <select id="getBook"  resultType="java.util.Map">
        SELECT * FROM  jdbook
    </select>
    <insert id="addWeather" parameterType="com.viking.MySpringBoot.entity.Weather">
        INSERT INTO weather (weather,temperature,tip,date,user_name)
        VALUES (#{param.weather},#{param.temperature},#{param.tip},#{param.date},#{param.userName})
    </insert>
</mapper>